.all{
    background-color: rgb(237, 247, 253);
    animation: ani 2.5s forwards;
}

.all_header{
    font-weight: 900;
    margin-top: 0px;
    font-size: 130px;
    text-align: center;
    font-family: sans-serif;
    line-height: 100px;
    background: rgb(255, 255, 255);
    border: solid rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 0 5px 2px rgb(231, 222, 222);
    transform: translateY(-150%);
    animation: ani2 1s forwards;
}

.dp_description{
  margin-top: 130px;
  font-size: 3vw;
  text-align: center;
  font-family: sans-serif;
  line-height: 10px;
  font-stretch: ultra-expanded;
  letter-spacing: 10px;
  opacity: .6;
  transform: translateY(800%);
  animation: ani3 1s forwards;
}


.mix_masters {
  display: flex;
}

.distr {
  display: flex;
}

.beats {
  display: flex;
}
@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes ani2 {
  0% {transform: translateY(-150%);}
  100% {transform: translateY(0);}
}

@keyframes ani3 {
  0% {transform: translateY(800%);}
  100% {transform: translateY(0);}
}